.image {
  position: relative;
  width: 280px;
  height: 280px;
  margin: 10px;

  left: 60px;
  /* border: 1px solid black; */
  float: left;
}

.bilgi {
  position: relative;
  width: 620px;
  height: 280px;
  left: 50%;
  margin: 10px;
  margin-left: -450px;
  float: left;
  padding: 5px;
}

.detay {
  width: 951px;
  height: 280px;
  margin: 10px;
  left: 60px;
  position: relative;
  float: left;
}

.container {
  width: 1200px;
  height: 650px;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -600px;
  margin-top: -300px;
}

.title {
  width: 500px;
  height: 35px;
  position: relative;
  top: 25px;
  left: 55px;
}

.description {
  width: 500px;
  height: 185px;

  position: relative;
  left: 55px;
  top: 50px;
}

.detail1 {
  width: 317px;
  height: 280px;

  position: relative;
  float: left;
}

.detail2 {
  width: 317px;
  height: 280px;

  position: relative;
  float: left;
}

.detail3 {
  width: 317px;
  height: 280px;

  position: relative;
  float: left;
}

.city {
  width: 180px;
  height: 35px;
  position: relative;
  top: 70px;
  left: 69.5px;
}

.village {
  width: 180px;
  height: 35px;
  position: relative;
  top: 90px;
  left: 69.5px;
}

.room {
  width: 180px;
  height: 35px;
  position: relative;
  top: 50px;
  left: 69.5px;
}

.age {
  width: 180px;
  height: 35px;
  position: relative;
  top: 70px;
  left: 69.5px;
}

.floor {
  width: 180px;
  height: 35px;
  position: relative;
  top: 90px;
  left: 69.5px;
}

.furniture {
  width: 180px;
  height: 35px;
  position: relative;
  top: 50px;
  left: 69.5px;
}

.forsale {
  width: 180px;
  height: 35px;
  position: relative;
  top: 70px;
  left: 69.5px;
}

.price {
  width: 180px;
  height: 35px;
  position: relative;
  top: 90px;
  left: 69.5px;
}

.onay {
  width: 80px;
  height: 35px;
  position: relative;
  top: 120px;
  left: 170px;
}

.sil {
  clear: both;
}
