<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
    <title>Destek Al</title>
    <style>
    </style>
  </head>
  <body>
  <div class="navbar">
    <a th:href="@{/}">Ana Sayfa</a>
    <a th:href="@{/Destek}">Destek Al</a>
    <a th:href="@{/ilanver}" class="renk">İlan Ver</a>
    <a style="float: right;" th:href="@{/Takip}">Bizi Takip Edin</a>

    <div style="width: 50%"></div>

    <a style="float: right" class="active1" th:href="@{/kayitol}">Kayıt Ol</a>
    <a style="float: right;" th:href="@{/profil}">Profil</a>
    <a style="float: right" th:href="@{/giris}">Giriş Yap</a>
    <a style="float: right" th:href="@{/SSS}">SSS</a>
  </div>


    <div class="jumbotron my-5 text-center shadow w-25 mx-auto p-5" >
      <h2>Destek</h2>
      <form th:action="@{/process}" th:object="${sendMail}" method="post">
        <div class="form-group">
          <label for="destekmail">Mail Adresiniz:</label>
          <input
            type="email"
            class="form-control"
            th:field="*{email}"
            placeholder="Mail Adresinizi Giriniz"
            id="destekmail"
          />
        </div>

        <div class="form-group">
          <label class="m-left" for="konuBasligi">Konu Başlığı:</label>
          <input
            type="text"
            class="form-control"

            th:field="*{konuBasligi}"
            placeholder="Konu Giriniz"
            id="konuBasligi"
          />
        </div>
        <div class="form-group">
          <label for="aciklama">Açıklama</label>
          <textarea
            class="form-control"
            th:field="*{icerik}"
            placeholder="Açıklama Yazınız"
            id="aciklama"
          ></textarea>
        </div>
        <button class="btn btn-success" type="submit" >Gönder</button>
      </form>
    </div>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
