<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- social buttons -->
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/ilanver.css}" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />


    <title>İlan Ver!</title>
  </head>

  <body>
    <div class="navbar">
          <a th:href="@{/}">Ana Sayfa</a>
          <a th:href="@{/Destek}">Destek Al</a>
          <a th:href="@{/ilanver}" class="renk">İlan Ver</a>
          <a style="float: right;" th:href="@{/Takip}">Bizi Takip Edin</a>

      <div style="width: 50%"></div>

          <a style="float: right" class="active1" th:href="@{/kayitol}">Kayıt Ol</a>
          <a style="float: right;" th:href="@{/profil}">Profil</a>
          <a style="float: right" th:href="@{/giris}">Giriş Yap</a>
          <a style="float: right" th:href="@{/SSS}">SSS</a>
    </div>

<!--    th:object="${product}"-->

    <form th:action="@{/process_ilan}"   method="post" enctype="multipart/form-data" >
    <div class="container jumbotron">
      <div>
        <div class="image" id="image">
          <!-- foto -->

            <p>
            <form enctype="multipart/form-data">
              <input
                type="file"
                accept="image/*"
                name="file"
                id="file"
                onchange="loadFile(event)"

              />

            </form>
            </p>
            <!-- <p><label for="file" style="cursor: pointer; border: 1px solid black;">Resim Yükle</label></p>  -->

          <p><img id="output" width="280" height="280" /></p>

          <script>
            var loadFile = function (event) {
              var image = document.getElementById("output");
              image.src = URL.createObjectURL(event.target.files[0]);
            };
          </script>
        </div>

          <div>
            <div class="bilgi">
              <div>
                <!-- başlık -->
                <div class="title">

                    <input
                      type="text"
                      name="pbaslik"
                      id="pbaslik"
                      class="form-control"

                      placeholder="Başlık giriniz."

                      required
                    />

                </div>
            </div>


                <div>
                    <div>
                        <div class="description">
                            <!-- açıklama -->

                            <textarea
                                    style="resize: none"
                                    class="form-control"
                                    name="paciklama"
                                    id="paciklama"
                                    rows="3"

                                    placeholder="İlan Açıklama"
                            ></textarea>

                            <div style="margin-top: 10px">

                                <textarea
                                        style="resize: none"
                                        class="form-control"
                                        name="padres"
                                        id="padres"
                                        rows="3"


                                        placeholder="Adres"
                                ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


      <div>
        <div class="detay">
          <div class="detail1">
            <div class="city">
            <label>Şehir:</label>
                <div class="input-group input-group-sm">
                  <input type="text" name="psehir"
                         id="psehir" class="form-control" placeholder="Şehir" />
                </div>

            </div>
            <div style="padding-top: 20px" class="village">
                <label>İlçe:</label>
                <div class="input-group input-group-sm">
                  <input type="text" name="pilce"
                         id="pilce" class="form-control" placeholder="İlçe" />
                </div>

            </div>
          </div>

          <div class="detail2">

                <div class="room">
                    <label >Oda Sayısı:</label>
                    <div class="input-group input-group-sm">

                      <input
                        type="number"
                        name="podasayisi"
                        id="podasayisi"
                        class="form-control"
                        placeholder="Oda Sayısı"
                      />
                    </div>
                </div>
                <br>
                <div style="padding-top: 9px" class="age">
                    <label >Bina Yaşı:</label>
                    <div class="input-group input-group-sm">

                      <input
                        type="number"
                        name="pyas"
                        id="pyas"
                        class="form-control"
                        placeholder="Bina Yaşı"
                      />
                    </div>
                </div>
                <br>
                    <div style="padding-top: 18px" class="floor">
                        <label>Bulunduğu Kat:</label>
                        <div class="input-group input-group-sm">

                          <input
                            type="number"
                            name="pkat"
                            id="pkat"
                            class="form-control"
                            placeholder="Kat Sayısı"
                          />
                        </div>
                    </div>
                </div>

                <div class="detail3">

                    <div class="furniture">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            value="1"
                            type="radio"
                            name="pesya"
                            id="pesya1"

                          />
                          <label class="form-check-label" for="pesya1">
                            Eşyalı
                          </label>
                        </div>

                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            value="2"
                            name="pesya"
                            id="pesya2"
                            checked
                          />
                          <label class="form-check-label" for="pesya2">
                            Eşyasız
                          </label>
                        </div>
                    </div>

                    <div class="forsale">
                          <div>
                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  value="1"
                                  name="psatilik"
                                  id="psatilik1"
                                />
                                <label class="form-check-label" for="psatilik1">
                                  Satılık
                                </label>
                              </div>

                              <div class="form-check">
                                <input
                                  class="form-check-input"
                                  type="radio"
                                  value="2"
                                  name="psatilik"
                                  id="psatilik2"
                                  checked
                                />
                                <label class="form-check-label" for="psatilik2">
                                  Kiralık
                                </label>
                              </div>
                          </div>
                    </div>

                          <div class="price">
                              <label >Fiyat:</label>
                              <div class="input-group input-group-sm">
                                <input name="pfiyat" id="pfiyat"  type="text" value="" data-value="" class="form-control" placeholder="Fiyat" />
                              </div>
                          </div>

                          <div style="padding-top: 10px" class="onay">
                              <button type="submit" class="btn btn-primary">İlan Ver</button>
                          </div>

                    </div>
                </div>


            </div>

          </div>
      </div>
        </div>
        </form>


    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
