<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" th:href="@{/css/mesaj.css}" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />

    <title>Mesaj</title>
    <script>
      function myFunction() {
        var x = document.getElementById("mesaj").value;
        document.getElementById("alan").innerHTML = x;
      }
    </script>
  </head>

  <body>
  <div class="navbar">
    <a th:href="@{/}">Ana Sayfa</a>
    <a th:href="@{/Destek}">Destek Al</a>
    <a th:href="@{/ilanver}" class="renk">İlan Ver</a>
    <a style="float: right;" th:href="@{/Takip}">Bizi Takip Edin</a>

    <div style="width: 50%"></div>

    <a style="float: right" class="active1" th:href="@{/kayitol}">Kayıt Ol</a>
    <a style="float: right;" th:href="@{/profil}">Profil</a>
    <a style="float: right" th:href="@{/giris}">Giriş Yap</a>
    <a style="float: right" th:href="@{/SSS}">SSS</a>
  </div>

    <div class="containerorta">
      <div id="soltrf" class="jumbotron">
        <div class="inline-block">
          <a id="mesajlarım" style="text-decoration: none" href="#"
            >Mesajlarım</a
          >
        </div>
      </div>

      <div class="deneme form-group jumbotron">
        <div class="row">
          <div class="col-sm">
            <img src="../images/emlak.jpg" alt="" />
          </div>
          <div class="col-sm">
            <a style="text-decoration: none" th:href="@{/ilan}"
              >İlan Açıklaması</a
            >
          </div>
          <div class="col-sm">Fiyat bölümü</div>
        </div>

        <div id="alan"></div>

        <form name="message" action="">
          <input
            class="text1 rounded form-control"
            id="mesaj"
            type="text"
            placeholder="Mesajınızı buraya yazınız"
          />
          <button
            class="btn btn-success form-control rounded"
            id="gonder"
            type="submit"
            onclick="myFunction()"
          >
            Gönder
          </button>
        </form>
      </div>
    </div>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
