<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link
          href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap"
          rel="stylesheet"
  />
  <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous"
  />
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link rel="stylesheet" th:href="@{/css/navbar.css}" />
  <style>th, td {
    padding: 40px;
  }</style>

</head>
<body>
<div class="navbar">
  <a th:href="@{/}">Ana Sayfa</a>
  <a th:href="@{/Destek}">Destek Al</a>
  <a th:href="@{/ilanver}" class="renk">İlan Ver</a>
  <a style="float: right;" th:href="@{/Takip}">Bizi Takip Edin</a>

  <div style="width: 50%"></div>

  <a style="float: right" class="active1" th:href="@{/kayitol}">Kayıt Ol</a>
  <a style="float: right;" th:href="@{/profil}">Profil</a>
  <a style="float: right" th:href="@{/giris}">Giriş Yap</a>
  <a style="float: right" th:href="@{/SSS}">SSS</a>
</div>
<br /><br /><br /><br />
<h1 style="margin-left: 150px" class="faq-heading">Sık Sorulan Sorular</h1>
<br><br>

<table style="margin-left: 200px">
  <tr style="font-size: xx-large" th:each="sss : ${listProducts}">

    <td th:text="${sss.soru}">Name</td>
    <td th:text="${sss.cevap}">Name</td>

  </tr>


</table>

</body>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"
></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"
></script>
</html>
